<%- include("partials/header") %>
<div class="container-fluid rounded w-50 mt-5 p-5 border border-2">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h3 class="lead">404 Error - Page Not Found</h3>
    </div>
  </div>
<%- include("partials/footer") %>