<%- include("../partials/header") %>
    <div class="container border p-5 mt-5">
        <h1>Welcome, <%= user %>!</h1>
        <form class="mt-5" action="/logout" method="post">
            <button type="submit" class="btn btn-dark btn-lg">Logout</button>
        </form>
    </div>
<%- include("../partials/footer") %>